html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background-color: #adadad;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  background: aqua;
}

.btn-outline-primary {
  color: #000;
}
.customBg {
  padding-top: 180px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.pac-container {
  z-index: 1051 !important;
}
.map-container {
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  .map-container {
    height: 96.5vh;
  }
}

.combobox-input {
  width: 60%;
  padding: 0.5rem;
}
.asd {
  position: absolute;
  bottom: 10%;
}
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
