html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #adadad;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.d {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 40px;
}
.btn-outline-primary {
  color: #000;
}
.customBg {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(3.4px);
  width: 45% !important;
}

@media only screen and (max-width: 1200px) {
  .customBg {
    width: 100% !important;
  }
}
.resultsBg {
  width: 45% !important;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
@media only screen and (max-width: 1200px) {
  .resultsBg {
    width: 100% !important;
  }
}
.input-height {
  height: 40px !important;
  padding-top: 20px !important;
}
.inputs {
  height: 40px !important;
}
.pac-container {
  z-index: 1051 !important;
}
label {
  position: relative;
  top: -8px !important;
  left: 10px !important;
}
.map-container {
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  .map-container {
    height: 96vh;
  }
}

.combobox-input {
  width: 20%;
  padding: 0.5rem;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 47%;
  right: 50px;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 20px;
  height: 20px;
  color: rgb(83, 83, 83);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1051 !important;
}
.icon:hover,
:focus {
  color: #000;
}
.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background: rgb(61, 61, 61);
  color: #04e3a6;
}
.gm-style .gm-style-iw-tc::after {
  background: rgb(61, 61, 61);
}
button.gm-ui-hover-effect > span {
  background-color: #04e3a6 !important;
}
.vuokraa {
  align-items: center;
  justify-content: center;
  margin-left: 33%;
  color: #fff;
}
.custombtn {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  position: relative;
  top: 4.5px;
  width: 98% !important;
}

@media only screen and (max-width: 600px) {
  .custombtn {
    width: 95% !important;
  }
}
.checkscoot {
  width: 45% !important;
  position: fixed;
  top: -6px !important;
}
.checkscoot,
p {
  position: relative;
  top: 7px;
}
@media only screen and (max-width: 1200px) {
  .checkscoot {
    width: 100% !important;
  }
}
